{% extends "base.twig" %}

{% block title %}Tensor Flow Model Inputs{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
    #tf_upload_div{
        margin-top:50%;
    }
    .prediction_details{
        font-size:77%;
    }
    #tf_analysis_done, .prediction_details{
        opacity:0;
        transition:.2s opacity ease-in;
    }
    #tf_analysis_done.temp_show_remove_on_clear, .prediction_details.temp_show_remove_on_clear{
        opacity:1;
    }

    #prediction-list .label{
        font-size:92%;
    }
    #prediction-list .progress-bar{
        transition:.45s width ease-in-out;
    }

    .bmd-form-group .fa-spinner,.bmd-form-group .fa-times,.bmd-form-group .fa-check-circle{
        display:none;
    }
    .bmd-form-group.queued .fa-spinner{
        display:inline-block;
    }
    .bmd-form-group.failed .fa-times{
        display:inline-block;
    }
    .bmd-form-group.done .fa-check-circle,
    .bmd-form-group.is-filled .fa-check-circle{
        display:inline-block;
    }

    .btn-group .btn{ margin-right:20px }
    </style>
{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/png" href="https://www.gstatic.com/devrel-devsite/prod/v18acaed6c9e1965881c7cfa6f3f9f69e7c37603f6d253114168821ce9e70c645/tensorflow/images/favicon.png">
{% endblock %}

{% block body %}
    <main>
        <section class="bg-dark pt-5 pb-3 mb-5">
            <div class="container">
                <h1 class="jumbotron-heading text-white">REDCap TensorFlowJS Module</h1>
                <p class="lead text-white">Select an image and apply a pre-trained model.</p>
            </div>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-6 border rounded bg-light">
                    <div id="tf_controls" class="text-center">

                        <div id="tf_upload_div" class="upload_div btn btn-primary text-center my-2" style="display:none">
                            <input type="file" hidden id="tf_upload_input" accept="image/*" capture="environment" />
                            <div class="select-xray">
                                <i class="fas fa-x-ray"></i>
                                Select X-ray Image
                            </div>
                        </div>

                        <div class='text-center mx-auto' style='min-height:500px;'>
                            <img id="tf_upload_image" class="img-thumbnail" style="display:none;"/>
                        </div>

                        <div id="tf_analyze" class="btn btn-primary" style="text-align: center; display:none;">
                            <div class="start">
                                <i class="fas fa-chart-bar"></i>
                                Analyze Image
                            </div>
                        </div>
                        <div id="tf_analyzing" class="btn btn-primary" style="text-align: center; display:none;">
                            <div class="running">
                                <i class="fas fa-spinner fa-pulse" ></i>
                                Analyzing...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <pre id="tf_results" class="d-none">
                    </pre>

                    <div class ="prediction px-4">
                        <div class="text-center py-2 mt-1 mb-4">
                            <h4><i id="tf_analysis_done" class="fas fa-check-circle" style="color:green"></i> Prediction - Feature Composition</h4>
                            <div class="prediction_details text-muted"><em>Average Prediction Time:</em> <b class="prediction_time"></b> | <em>GPU Memory:</em> <b class="prediction_memory"></b></div>
                        </div>
                        <div id="prediction-list" class="prediction-results">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="m-5 mx-auto container bg-light"/>

        <div id="redcap_container">

        </div>
    </main>

    <div class="modal" id="modelLoadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><i class="fas fa-spinner fa-pulse"></i> Loading Model...</h3>
                </div>
                <div class="modal-body rounded">
{#                    <div class="progress" style="width:100%;">#}
{#                        <div class="progress-bar progress-bar-success progress-bar-striped pl-2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">#}
{#                            <span></span>#}
{#                            <span class="sr-only"></span>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    {{ include('mustache_templates.html') }}
{% endblock %}

{% block jsFooter %}
    {{ parent() }}

    <!-- Add TensorFlow Library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js" integrity="sha384-LBtUZzDp17Y7UgB/KFromf1LnY7o5ls8Oxm4vEAoTM0U+JzaadctX2/buQiNHyQU" crossorigin="anonymous"></script>

    <!-- Additional JS Files -->
    {% for source in sources %}
        <script type="text/javascript" src="{{ source }}"></script>
    {% endfor %}

    <!-- Custom params for this page -->
    <script>
        $(document).ready(function(){
            //pass info required to download project's survey metadata and build html
            // this puts the form into the DOM so must happen before the RCTF work
            RCForm.init({{ renderer_config | raw }}, $("#redcap_container"));

            //passing in module Config
            RCTF.emsettings         = {{ emSettings|raw }};

            //Better to do it here on the page with the HTML in it
            RCTF.uploadInput        = $('#tf_upload_input');
            RCTF.uploadImage        = $('#tf_upload_image');
            RCTF.analysisBtn        = $('#tf_analyze');
            RCTF.analysisInProgress = $('#tf_analyzing');
            RCTF.analysisDone       = $('#tf_analysis_done');
            RCTF.resultsDiv         = $('#tf_results');
            RCTF.loadingModal       = $('#modelLoadingModal');
            RCTF.feature_container  = $("#prediction-list");
            RCTF.feature_template   = $("#template_feature_prediction");
            RCTF.uploadButton       = $('#tf_upload_div');

            RCTF.record_id          = $('#participant_id');
            RCTF.model_results      = $('#model_results');
            RCTF.base64_image       = $('#base64_image');
            RCTF.init();

            // capture click on image and activate hidden input
            $('.select-xray').click(function() {
                RCTF.uploadInput.click();

                //form inits disabled
                RCForm.enableForm();
            });
        });
    </script>
{% endblock %}
